form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  width: 100%;
  margin: 16px 16px;
}

form > div {
  padding: 8px 64px;
}

form > div.form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  vertical-align: middle;
}

form label {
  font-weight: bold;
  margin-bottom: 8px;
  line-height: 2.5rem;
  font-size: 1.2rem;
}

form input[type=email] {
  border-radius: 4px;
  border-color: rgba(160, 160, 160, 0.2);
  border-width: 1px;
  background-color: #e9e9e9;
  width: 100%;
  height: 32px;
}

form input[type=password] {
  border-radius: 4px;
  border-color: rgba(160, 160, 160, 0.2);
  border-width: 1px;
  background-color: #e9e9e9;
  width: 100%;
  height: 32px;
}

form input[type=checkbox] {
  width: 24px;
  height: 24px;
}

form .form-check-label {
  padding-left: 8px;
  line-height: 2rem;
}

form .login-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

form .login-control a {
  line-height: 2.4rem;
  margin-left: auto;
}

header {
  background: #fafafa;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 32px;
  z-index: 9;
  min-width: 24rem;
}

header #toggle-nav {
  position: absolute;
  display: none;
  pointer-events: none;
  border-radius: 4px;
  height: 32px;
  width: 32px;
  overflow: hidden;
  border: 0;
  opacity: 0;
  margin: 0;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
  cursor: pointer;
}

header .user-info {
  height: 64px;
  min-width: 64px;
  background-color: #e9e9e9;
  margin-left: auto;
  margin-right: 16px;
  border-radius: 8px;
}

header .user-info .user-image {
  position: relative;
  margin-top: 8px;
  margin-left: 8px;
  height: 48px;
  width: 48px;
  border-radius: 100%;
  background-color: #a0a0a0;
  overflow: hidden;
  background-image: url("/images/user-solid.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

header .logo {
  overflow: hidden;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 12px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding-top: 80px;
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 14px;
  line-height: 1.43;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #e9e9e9;
  margin: 0 !important;
}

body a {
  color: #0ca7ff;
  text-decoration: none;
}

main {
  width: 100%;
  padding: 32px 32px 32px 32px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main > * {
  margin-left: auto;
  margin-right: auto;
}

main.active-nav {
  width: calc(100% - 280px);
  margin-left: 280px;
}

main div.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav {
  background: #fafafa;
  width: 280px;
  height: 100%;
  position: fixed;
  overflow: visible;
}

#nav #toggle-nav {
  position: absolute;
  top: 8px;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  display: none;
  cursor: pointer;
  background: #fafafa;
  height: 32px;
  width: 32px;
  z-index: -1;
  border: 0;
  -webkit-box-shadow: 0 2px 4px 0 rgba(11, 48, 59, 0.12);
          box-shadow: 0 2px 4px 0 rgba(11, 48, 59, 0.12);
  overflow: hidden;
  padding: 0;
  margin: 0;
  opacity: 0.75;
  outline: none;
}

.btn {
  background-color: #0ca7ff;
  border-radius: 4px;
  color: #fafafa;
  border: none;
  font-size: 1rem;
  line-height: 1;
  font-weight: normal;
  -webkit-transition: background-color .3s ease, color .3s ease;
  transition: background-color .3s ease, color .3s ease;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  cursor: pointer;
}

.btn > span {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn:hover {
  background-color: #008ad8;
}

.btn.small {
  width: 112px;
  height: 20px;
  padding: 4px 8px;
}

.btn.medium {
  width: 112px;
  height: 40px;
  padding: 8px;
  line-height: 1.6rem;
  font-size: 1.2rem;
}

.btn.large {
  width: 200px;
  height: 48px;
  padding: 16px;
}

.widget {
  background-color: #fafafa;
  border-radius: 8px;
  -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.22);
          box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.22);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
}

.widget.widget-small {
  width: 30%;
  min-height: 320px;
}

.widget.widget-medium {
  min-width: 384px;
  max-height: 352px;
}

.widget.widget-large {
  width: 100%;
}

.widget.form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

