// Generic styling parameters for all template elements within the body

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    padding-top: $header-height;
    font-family: $font-family;
    color: rgba($text-color, 1);
    font-size: 14px;
    line-height: 1.43;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    background-color: $background-grey;
    margin: 0 !important;

    a {
        color: $blue;
        text-decoration: none;
    }
}