// Stylizes the central portion of the webpage

main {
    width: 100%;
    // width: calc(100% - #{$nav-width});
    // margin-left: $nav-width;
    padding: $base-spacing*2 $base-spacing*2 $base-spacing*2 $base-spacing*2;
    position: relative;
    display: flex;

    > * {
        margin-left: auto;
        margin-right: auto;
    }

    &.active-nav {
        width: calc(100% - #{$nav-width});
        margin-left: $nav-width;
    }

    div.form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}