// Styling for small frequently used template elements (e.g. buttons)

.btn {
    width: 100%;
    background-color: $blue;
    border-radius: 4px;
    color: $white;
    border: none;
    font-size: 1rem;
    line-height: 1;
    font-weight: normal;
    transition: background-color .3s ease, color .3s ease;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    align-content: center;
    text-align: center;
    cursor: pointer;
    > span {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    &:hover {
        background-color: darken($blue, 10%)
    }

    &.small {
        width: $base-spacing*7;
        height: $base-spacing*2.5;
        padding: $base-spacing*.5;
        line-height: 1.6rem;
        font-size: 1.2rem;
    }
    &.medium {
        width: $base-spacing*7;
        height: $base-spacing*2.5;
        padding: $base-spacing*.5;
        line-height: 1.6rem;
        font-size: 1.2rem;
    }
    &.large {
        width: $base-spacing*10;
        height: $base-spacing*2.5;
        padding: $base-spacing*.5;
        line-height: 1.6rem;
        font-size: 1.2rem;
    }
    &.long {
        width: 95%;
        height: $base-spacing*1.5;
        padding: $base-spacing*.5;
        line-height: 1.6rem;
        font-size: 1.2rem;
    }
}

.widget {
    background-color: $white;
    border-radius: 8px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: auto;
    min-width: $base-spacing*24;
    margin-bottom: $base-spacing;

    .widget-header {
        border-bottom: 1px solid $grey;
        width: 100%;
        height: $base-spacing*4;
        display: flex;

        h2 {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .title-only {
            align-content: center;
            align-items: center;
            text-align: center;
        }
    }

    &.widget-small {
        width: 30%;
        min-height: $base-spacing*20;
    }
    &.widget-medium {
        width: $base-spacing*30;
    }
    &.widget-large {
        width: 65%;
    }
    &.widget-extra-large {
        width: 100%;
    }

    &.form {
        flex-direction: column;
    }
}

.pager {

}

.notification {
    
}