// Styling for small frequently used template elements (e.g. buttons)

.btn {
    background-color: $blue;
    border-radius: 4px;
    color: $white;
    border: none;
    font-size: 1rem;
    line-height: 1;
    font-weight: normal;
    transition: background-color .3s ease, color .3s ease;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    align-content: center;
    text-align: center;
    cursor: pointer;
    > span {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    &:hover {
        background-color: darken($blue, 10%)
    }

    &.small {
        width: $base-spacing*7;
        height: 20px;
        padding: 4px 8px;
    }
    &.medium {
        width: $base-spacing*7;
        height: $base-spacing*2.5;
        padding: $base-spacing*.5;
        line-height: 1.6rem;
        font-size: 1.2rem;
    }
    &.large {
        width: $base-spacing*12.5;
        height: $base-spacing*3;
        padding: $base-spacing;
    }
}

.widget {
    background-color: $white;
    border-radius: 8px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.22);
    display: flex;
    object-fit: cover;

    &.widget-small {
        width: 30%;
        min-height: $base-spacing*20;
    }
    &.widget-medium {
        min-width: $base-spacing*24;
        max-height: $base-spacing*22;
    }
    &.widget-large {
        width: 100%;
    }

    &.form {
        flex-direction: column;
    }
}

.pager {

}

.notification {
    
}