
// Body
// $body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: "Nunito", sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66D9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

//CLUP Variables
$base-spacing: 16px;
$header-height: 80px;
$nav-width: 280px;
$font-family: 'Roboto', sans-serif;

// CLUP Colors
$background-grey: #e9e9e9;
$grey: #a0a0a0;
$white: #fafafa;
$blue: #0ca7ff;
$text-color: #000000;
$alert-red: #ff0f0f;
$success-green: #20f000;
$warning-yellow: #ffd505;